.skills-section
{  
  height: 100vh;

  display: grid;
  place-items: center;

  @media (max-width: 410px){
    height: 100%;
    margin: 0 0 3rem;
  }

  > div
  {

    > h1
    {
      font: var(--biggest-text);
      text-transform: uppercase;
    }

    > p
    {
      text-align: center;
      font: var(--space-normal-text);
      opacity: .5;
    }
  }

  .skills
  {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 3rem 0;
    
    cursor: default;

    @media (max-width: 1190px){
      grid-template-columns: 1fr;
    }

    @media (max-width: 410px){
      gap: 10px;
      padding: 7px;
    }

    .card
    {
      box-shadow: 2px 2px 5px var(--shadow-color);
      border: 1px solid #0000000f;
      border-radius: 8px;
      
      width: 550px;
      padding: 1rem;

      @media (max-width: 735px){
        width: 430px;
      }
      @media (max-width: 450px){
        width: 90vw;
      }
    }
    
    .card:hover
    {
      box-shadow: 2px 2px 8px var(--shadow-color);
    }
    
    .abilitie
    {
      margin: 2rem 0;
    }
    
    .card-title
    {
      text-align: center;
      
      font: var(--space-normal-text);
    }
    
    .skill
    {
      display: flex;
      justify-content: space-between;
      width: 100%;
      
      font: var(--space-normal-text);
      font-size: 18px;
    }
    
    .porcentage
    {
      width: 100%;
      height: 8px;
      
      border-radius: 8px;
      
      background-color: var(--shadow-color);
    }
    
    .porcentage-HTML
    {
    width: 100%;
    height: 8px;
    
    background-color: var(--green-default);
    border-radius: 8px;
  }
  
  .porcentage-CSS
  {
    width: 86%;
    height: 8px;
    
    background-color: var(--green-default);
    border-radius: 8px;
  }
  
  .porcentage-SCSS
  {
    width: 79%;
    height: 8px;
    
    background-color: var(--green-default);
    border-radius: 8px;
  }
  
  .porcentage-JS
  {
    width: 72%;
    height: 8px;
    
    background-color: var(--green-default);
    border-radius: 8px;
  }
  
  .porcentage-REACT
  {
    width: 75%;
    height: 8px;
    
    background-color: var(--green-default);
    border-radius: 8px;
  }
  
  .porcentage-REACTMB
  {
    width: 2%;
    height: 8px;
    
    background-color: var(--red-default);
    border-radius: 8px;
  }
  
  .porcentage-node
  {
    width: 52%;
    height: 8px;
    
    background-color: var(--green-default);
    border-radius: 8px;
  }
  
  .porcentage-typescript
  {
    width: 59%;
    height: 8px;
    
    background-color: var(--green-default);
    border-radius: 8px;
  }
}
}